@page "/authorization"
<PageTitle>User Authorization</PageTitle>
@inject NavigationManager navManager
@inject SingletonServise singleton
@using BlazorControlWork.Data
<style>
	p.Message {
		background: #D9FFAD;
		color: green;
		padding: 2px;
	}
</style>
<h3>Authorization</h3>

<p class="Message">@Message</p>
<p>
	Login
	<input type="text" name="login" @bind-value="@Login" />
</p>
<p>
	Password
	<input type="text" @bind-value="@Password" />
</p>
<p>
	<button type="button" onclick="@LogIn">LogIn</button>
</p>
<p>
	<button onclick="@registration">Registration</button>
</p>
@code {
	public string Message = "";
	public string Login = "";
	public string Password;

	public void registration ()
	{
		navManager.NavigateTo("registration");
	}

	public void LogIn()
	{
		if (Login != "")
		{
			User autoUser = MongoDb.Find(Login);
			if (autoUser != null)
			{
				if (autoUser.Password == Password)
				{
					navManager.NavigateTo("mainpage");
					singleton.SetUser(autoUser);
				}
			}
			else 
			{
				Message = "This User not found. Pls check login.";
			}
		}
		
		
	}
}
