@page "/user"
@inject NavigationManager navManager
@using BlazorControlWork.Data
@inject SingletonServise singleton
@inject FileSystemService fileSystem

<h3>UserrPage</h3>
<label>Login</label>
<br />
<input type="text" readonly value="@singleton.GetUser().Login">
<br>
<label>Email</label>
<br />
<input type="text" readonly value="@singleton.GetUser().Email">
<br>
<label>Name</label>
<br>
<input type="text" readonly value="@singleton.GetUser().FName">
<br>
<label>Surname</label>
<br>
<input type="text" readonly value="@singleton.GetUser().LName">
<br>

<p>
	<button class="btn btn-primary" onclick="@LogOut">LogOut</button>
</p>
@code {
	public void LogOut()
	{
		singleton.SetUser(new User("Guest", "", "", "", ""));
		navManager.NavigateTo("authorization");
	}

}
